extends layout

block content

  .container
    h1.text-center Demonstração visual dos conceitos técnicos.
    br
    br

    div.text-center
      img(src='images/capa.jpg' width="60%;")

    br
    h4.text-center criado por: Anders Brownworth - 1K3NvcuZzVTueHW1qhkG2Cm3viRkh2EXJp
    br
